.site-form {
    width: 500px;
    margin: 10% auto;
}
.site-input{
    width: 50%;
    padding: 10px 30px;
    text-transform: capitalize;
    border-radius: 10px;
}
.site-button{
    padding: 10px;
    text-transform: uppercase;
    color: white;
    background-color: green;
    border: none;
    border-radius: 10px;
}
.site-desc {
    font-size: 18px;
}